
section.addItem{
    background-color: $primary-color;
    padding-bottom: 50px;

    [class^="icon-"], [class*=" icon-"] {
        color: $tertiary-color;
        margin: 32px 0 0 20px;
        display: inline-block;
    }

    .title {
        color: $tertiary-color;
    }

    .content {
        padding: 0 20px;
        display: block;
        color: $tertiary-color;
        margin: 32px 0 0 0;

        div {
            margin: 0 0 18px 0;
            
            span {
                color: $tertiary-color;
                font-size: 18px;
                font-weight: bold;
            }

            ul {
                margin: 8px 0 8px 0;
                white-space: nowrap;
                overflow-y: hidden;
                overflow-x: scroll;
                
                &::-webkit-scrollbar {
                    display: none;
                }

                li {
                    text-align: center;
                    border-radius: 6px;
                    display: inline-table;
                    border: solid 1px $tertiary-color;
                    min-width: 35px;
                    padding: 16px 10px;
                    margin: 0 5px 0 0;
                    font-size: 14px;

                    i {
                        background: $tertiary-color;
                        padding: 16px;
                        border-radius: 50%;
                        color: #555 !important;
                        font-size: 32px;
                        display: inline-table;
                    }

                    div {
                        display: inline-block;
                        margin: 0 0 0 8px;
                        span {
                            font-weight: lighter;
                            display: block;
                            text-align: left;

                            &:last-child {
                                margin-top: 4px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            label {
                display: block;
                font-size: 13px;
                font-weight: lighter;
            }
            
            [class^="icon-"], [class*=" icon-"] {
                color: rgba($tertiary-color, $alpha: .5);
                margin: 6px 0 0 0;
                display: inline-block;
            }

            input {
                display: inline-block;
                background: transparent;
                border: none;
                color: $tertiary-color;
                outline: none;
                font-size: 18px;
                font-weight: bold;
                margin: 0 0 0 0;
            }
        }
    }
}

.active {
    background: $tertiary-color;
    color: $primary-color;
}


#doctor.active {
    background: $tertiary-color;

    i {
        background: #f2f2f2; 
    }

    div span {
        color: #555;
    }
}


::-webkit-input-placeholder { 
    color: $tertiary-color;
}
::-moz-placeholder { 
    color: $tertiary-color;
}
:-ms-input-placeholder {
    color: $tertiary-color;
}
:-moz-placeholder { 
    color: $tertiary-color;
}