section.addItem{
    background-color: $primary-color;
    padding-bottom: 50px;

    [class^="icon-"], [class*=" icon-"] {
        color: #fff;
        margin: 32px 0 0 20px;
        display: inline-block;
    }

    .title {
        color: #fff;
    }

    .content {
        padding: 0 20px;
        display: block;
        color: #fff;
        margin: 32px 0 0 0;

        div {
            margin: 0 0 18px 0;
            
            span {
                color: #fff;
                font-size: 18px;
                font-weight: bold;
            }

            ul {
                margin: 8px 0 8px 0;
                white-space: nowrap;
  	            overflow-y: hidden;
	            overflow-x: scroll;

                li {
                    text-align: center;
                    border-radius: 6px;
                    display: inline-table;
                    border: solid 1px #fff;
                    min-width: 35px;
                    padding: 16px 10px;
                    margin: 0 5px 0 0;
                    font-size: 14px;

                    i {
                        background: #fff;
                        padding: 16px;
                        border-radius: 50%;
                        color: #555 !important;
                        font-size: 32px;
                        display: inline-table;
                    }

                    div {
                        display: inline-block;
                        margin: 0 0 0 8px;
                        span {
                            display: block;
                            text-align: left;
                        }
                    }
                }
            }

            label {
                display: block;
                font-size: 13px;
                font-weight: lighter;
            }
            
            [class^="icon-"], [class*=" icon-"] {
                color: rgba($tertiary-color, $alpha: .5);
                margin: 6px 0 0 0;
                display: inline-block;
            }

            input {
                display: inline-block;
                background: transparent;
                border: none;
                color: #fff;
                outline: none;
                font-size: 18px;
                font-weight: bold;
                margin: 0 0 0 0;
            }
        }
    }
}

.active {
    background: $tertiary-color;
    color: $primary-color;
}

::-webkit-input-placeholder { 
    color: #fff;
}
::-moz-placeholder { 
    color: #fff;
}
:-ms-input-placeholder {
    color: #fff;
}
:-moz-placeholder { 
    color: #fff;
}