header {
	background-color: $primary-color;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
    color: $tertiary-color;
    padding: 22px 0 20px 0;

	i.menu {
        cursor: pointer;
		font-size: 23px;
		float: left;
		margin: 5px 0 0 15px;
	}

	div	{
		text-align: center;
		margin: 0 auto;
		width: 75%;

		i {
			display: block;
			margin-bottom: 10px;
			font-size: 35px;
		}
	}

}