@import "_variables";
@import "_mixin";

.medicines {
	margin: 32px 0 0 0;
	@extend %overflow;
	 
	&::-webkit-scrollbar {
    	display: none;
    }
}

.card {
	display: inline-block;
	background-color: $tertiary-color;
	border-radius: 6px;
	width: 140px; 
	margin: 0 0 0 5px;
	padding: 5px;
	color: #858585;
	text-align: center;
	box-shadow: $shadow;
	position: relative;

	&:first-child {
		margin-left: 20px;
	}
	&:last-child {
		margin-right: 20px;
	}

	i[class^="icon-discount"] {
		position: absolute;
		top: 0;
		right: -1px;
		color: red;
		font-size: 28px;
	}

}

@include figure($font-size-regular);


.details {
	text-align: left;
	font-size: $font-size-small;
	margin: 5px 0;

	span {
		margin: 10px 5px 5px 5px;
		display: block;
	}
	
}

.price {
	font-weight: bold;
	line-height: normal;
	font-size: $font-size-big;
	margin: 10px;
	text-align: center;
	color: $secondary-color;
}