
@import "_variables";
@import "_mixin";

.user {
	margin: 32px 0 50px 0;

	figure {
		text-align: center;
		margin-bottom: 15px;
		
		img {
			border-radius: 50%;
			border: solid 4px #fff;
		}
	
		figcaption {
			margin-top: 12px;
			font-size: 26px;
			font-weight: 600;
		}
	}
}

menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 300px;
	height: 100%;
	padding-top: 10px;
	background: $primary-color;
	color: $tertiary-color;
}

menu {
	@include transform(translateX(-300px));
	@include transition($primary-transition);
}

.menu-active menu {
	@include transform(translateX(0));
	@include transition($primary-transition);
}

.menu-active header, 
.menu-active section,
.menu-active footer {
	@include transform(translateX(300px));
	@include transition($primary-transition);
}

header, 
section,
footer {
	@include transform(translateX(0));
	@include transition($primary-transition);
}

.itensMenu {
	margin: 10px;

	li {
		margin: 24px 0;
		font-size: 18px;
		font-weight: 600;
		vertical-align: middle;
		
		i {
			vertical-align: middle;
			margin-right: 15px;
			font-size: 26px;
		}
	}
	
}