

@mixin transform($property) {
	-webkit-transform: $property;
		-ms-transform: $property;
			transform: $property;
}

@mixin transition($property) {
	-webkit-transition: $property;
	   -moz-transition: $property;
			transition: $property;
}

@mixin figure($font) {

	img {
		border-radius: 50%;
		border: solid 4px #fff;
	}

	figcaption {
		margin-top: 12px;
		font-size: $font;
		font-weight: 600;
	}

}

%overflow {
	white-space: nowrap;
  	overflow-y: hidden;
	overflow-x: scroll;
}
